body{
    border: 10px groove;
    border-color: green;
}
div{
    border: 10px dotted;
    border-color: red;
    padding: 20px 10px 20px;
    margin: 20px 10px 20px;
    text-align: justify;
}
a{
    text-decoration: line-through;
    font-size: 80px;
    text-decoration-color: brown;
    text-decoration-style: wavy;
}
h1{
    text-shadow: 1px 5px 2px blue;
}