section{
    background-color: rgb(243, 131, 11);
    color: rgb(63, 18, 224);
    border: 10px dotted rgb(71, 246, 17);
    padding: 20px;
    margin: 20px;
}

@media (max-width:570px){
    section{
        background-color: rgb(62, 173, 70);
        color: rgb(240, 221, 10);
        border: 10px dotted rgb(8, 16, 247);
        padding: 20px;
        margin: 20px;
    }
}