body{
    background-color: rgb(1, 1, 31);
}

h1{
color: rgb(1, 1, 31);
font-size: 50px;
text-decoration: underline;
}

.main{
    margin-left: 25%;
    margin-right: 25%;
     width: 50%;
    border: 2px;
    background-color: bisque;
}

#mail{
    width: 400px;
    height: 30px;
}

.form{
    padding-left: 20px;
    padding-bottom: 20px;
}

label{
    color: rgb(1, 1, 31);
    font-size: 20px;
    margin-top: 20px;
}

input{
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

select{
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

#male{
    width: 30px;
    height: 30px;
}